<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mistoryview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.mistory.mistoryview.ui.activity.MiStoryDisplayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>